.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

.main {
  min-height: 100vh;
}

.main p {
  margin: 0.5em 2rem;
  width: 100vw;
}

.rainbowContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 0px;
  font-size: 1em;
  word-break: break-all;
}

.detailsContainer p {
  font-size: 0.6rem;
}

.mintContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  word-break: break-all;
}

.mintContainer h2 {
  margin-bottom: 4px;
}

.mintContainer p {
  text-align: center;
}

.mintContainer div {
  margin: 4px 2px;
}

.mintImage {
  max-height: 100vw;
}

.mintImage img {
  width: 100%;
}

.mintBtn {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: ghostwhite;
  background-color: rgb(131, 26, 163);
  margin: 10px 2px;
  width: 60px;
  border-radius: 10px;
}